.container 
  .row
    .medium-6.columns
      %h2 
        Your Journal for 
        = @post.location
      %hr/
      %p#notice= notice

      %p
        %b Title:
        = @post.title
      %p
        %b Name:
        = @post.name
      %p
        %b Body:
        = @post.body
      %p
        %b Datecreated:
        = @post.date_created
      %p
        %b Dateedited:
        = @post.date_edited
      %p
        %b Picture:
      %img{src: @post.picture, style: "width:300px; height:300px;"}
        
      %h3 Comments
      %hr/  
      - @post.comments.each do |comment|
        %p
          = comment.body
        %p
          = time_ago_in_words comment.created_at
          ago
          by 
          = comment.name
    .medium-6.columns
      %h2 Add Comment
      %hr/     
      = form_for [@post, @post.comments.new] do |f|
        %p= f.text_area :body, :size => '40x10'
        %p= f.label :name
        %p= f.text_field :name 

        %div= f.submit "Post Comment", class: "button"

      = link_to 'Edit', edit_post_path(@post)
      \|
      = link_to 'Back', posts_path
