= include_gon
.large-4.columns
  
  %h1 Listing hostels

  %table
    %tr
      %th Address
      %th Latitude
      %th Longitude
      %th
      %th
      %th

  - @hostels.each do |hostel|
    %tr
      %td= hostel.address
      %td= hostel.latitude
      %td= hostel.longitude
      %td= link_to 'Show', hostel
      %td= link_to 'Edit', edit_hostel_path(hostel)
      %td= link_to 'Destroy', hostel, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = link_to 'New hostel', new_hostel_path
.large-4.columns
  %h1 listing attractions

  %table 
    %tr
      %th Address
      %th Latitude
      %th Longitude
      %th
      %th
      %th
  / - @attractions.each do |attraction|
  /   %tr
  /     %td= attraction.address
  /     %td= attraction.latitude
  /     %td= attraction.longitude
  /     %td= link_to 'Show', attraction
  /     %td= link_to 'Edit', edit_attraction_path(attraction)
  /     %td= link_to 'Destroy', attraction, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ = link_to 'New attraction', new_attraction_path

