- content_for :templates do      
  %script#hostel-show-template{type: "text/template"}
    %dl.accordion{"data-accordion" => ""}
      %dd.accordion-navigation
        %a#cyan{href: "#panel1"} <%= indx %> <%= name %> <%= proximityDistance %> away
        #panel1.content
          %dl.tabs{"data-tab" => ""}
            %dd.active
              %a{href: "#panel2-1"} General
            %dd
              %a{href: "#panel2-2"} Available room details
            %dd
              %a{href: "#panel2-3"} Trip advisor rating
          
          .tabs-content#pinkfont
            #panel2-1.content.active
              %p Description: <%= shortDescription %> ...
              %p Low Rate: <%= lowRate %> <%= rateCurrencyCode %>
              %p Address: <%= address1 %>
              %p Postal Code: <%= postalCode %>
            #panel2-2.content
              %p Max room Occupancy: <%= RoomRateDetailsList.RoomRateDetails.maxRoomOccupancy %>
              %p Room Description: <%= RoomRateDetailsList.RoomRateDetails.roomDescription %>
              %p Features: 
             

            #panel2-3.content
              :plain
                <img src="<%= tripAdvisorRatingUrl %>" <br/>
              %p Number of Reviews: <%= tripAdvisorReviewCount %>
            #panel2-4.content
              %p Fourth panel content goes here...
  %script#hostel-show-cheapest-hotels{type: "text/template"}
    .large-3.columns
      .flip{style: "width: 250px; height: 375px;"}
        .flip-front.flip-front-price
          %ul.pricing-table
            %li.title <%= name %>
            %li.price <%= lowRate %>
            %li.bullet-item Address: <%= address1 %> Postcode: <%= postalCode %>
            %li.bullet-item  
              :plain
                <img width=100px, height=100px, src="http://images.travelnow.com/<%= thumbNailUrl %>" />
              
               
            // what does plain do???
        .flip-back.flip-back-price
          %ul.pricing-table{"data-equalizer-watch" => ""} 
            %li.bullet-item
            %li.cta-button
              %a.button{href: "#"} Book now!
              %p contact number unavailable 
              :plain
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.expedia.co.uk/" data-text="Wow I have just found this amazing deal!!! for <%= lowRate %> per night at <%= name %> in <%= city %> #deals" data-size="large"  counturl= data-lang="en">Tweet</a> 

              :javascript
                !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    

  %script#attraction-foursquare-template{type: "text/template"} 
    .large-4.columns
      .flip{style: "width:303px;height:310px; padding:10px;"}
        .flip-front.flipfrontfoursquare
          %p
            :plain
              <img src="<%= photos['groups'][0]['items'][0].prefix %>400x300<%= photos['groups'][0]['items'][0].suffix %>" />
          %p 
            

          %h6 <%= name %> 
          %p 
            <%= categories['0']['name'] %> 路
            <%= stats.checkinsCount %> 
            Checkins 路
            <%= location.address %>,
            <%= location.city %> 路
            Price: <%= price.currency %> 路
            <%= price.message %> 

        .flip-back.flipbackfoursquare
          %p Contact Number: <%= contact.formattedPhone %>
          %p <%= hours.status %>     



      


    / %dl.accordion{"data-accordion" => ""}
    /   %dd.accordion-navigation
    /     %a{href: "#panel1"} <%= name %> 
    /     #panel1.content
    /       %dl.tabs{"data-tab" => ""}
    /         %dd.active
    /           %a{href: "#panel2-1"} Address 
    /         %dd
    /           %a{href: "#panel2-2"} Price/Rating
    /         %dd
    /           %a{href: "#panel2-3"} Popularity 
          
    /       .tabs-content
    /         #panel2-1.content.active
    /           %p  Address: <%= location.formattedAddress %>
    /           %p  contact: <%= contact.formattedPhone %>
    /         #panel2-2.content
    /           %p  Price: <%= price.currency %>
    /           %p  Price Description: <%= price.message %>
    /           %p  Rating: <%= rating %>
    /           %p  No of Reviews: <%= ratingSignals %>
    /         #panel2-3.content
    /           %p  No of Checkins: <%= stats.checkinsCount %>
    /           %p  No of Users: <%= stats.usersCount %>
    /         #panel2-4.content
    /           %p Fourth panel content goes here...
  %script#attraction-foursquare-topPics-template{type: "text/template"} 
    .large-6.columns 
      .panel.panellist{style: "background-color: #FF005F"}
        %h4 <%= venue.name %>
        %p <%= venue.hereNow.count %> <%= venue.hereNow.summry %> people are here 
        %p <%= tips[0].text %>
        %p <%= tips[0].createdAt %>
        %p <%= tips[0].user.firstName %> <%= tips[0].user.lastName %>
        .button#foursquare-topics-bottons
          :plain
             <a href="<%= venue.url %>"> go to website </a>
        %p 
    .large-3.columns
      .panel.panelpurple.imageanimate.animated{style: "background-color: #FF27F9"}
        %p
          :plain
              <img src="<%= venue['photos']['groups'][0]['items'][0].prefix %>400x400<%= venue['photos']['groups'][0]['items'][0].suffix %>" />

    .large-3.columns 
      .flip{style: "width: 300px; height: 200px;"}
        .flip-front.flip-front300-200.panelblue
          .panel.panellist{style: "background-color:#00ADF1"}
            %h4 Contact details
            %p Address: <%= venue.location.address %> , <%= venue.location.crossStreet %>        
            %P City: <%= venue.location.city %>
            %p PostelCode: <%= venue.location.postalCode %>   
        .flip-back.flip-back300-200.panelblue
          .panel{style: "background-color:#00ADF1"}
            %h3 Book now!
            %p Website: <%= venue.url %>
            %li Mobile: <%= venue.contact.phone %>
            %li Twitter: <%= venue.contact.twitter %>
            %li Facebook: <%= venue.contact.facebook %>
    .large-12.columns 
      #showfoursquare-toppics-template-odd          
  %script#attraction-foursquare-topPics-template-odd{type: "text/template"}                
    .large-3.columns
      .panel.panelgreen.imageanimate.animated{style: "background-color: #56FF5F"}
        %p
          :plain
              <img src="<%= venue['photos']['groups'][0]['items'][0].prefix %>400x400<%= venue['photos']['groups'][0]['items'][0].suffix %>" />
    .large-3.columns 
      .flip{style: "width: 300px; height: 200px;"}
        .flip-front.flip-front300-200
          .panel.panellist.panelblue{style: "background-color:#00ADF1"}
            %h4 Contact details
            %p Address: <%= venue.location.address %> , <%= venue.location.crossStreet %>        
            %P City: <%= venue.location.city %>
            %p PostelCode: <%= venue.location.postalCode %>
        .flip-back.flip-back300-200
          .panel.panelblue{style: "background-color:#00ADF1"}
            %h3 Book now!
            %p Website: <%= venue.url %>
            %li Mobile: <%= venue.contact.phone %>
            %li Twitter: <%= venue.contact.twitter %>
            %li Facebook: <%= venue.contact.facebook %>
            
    .large-6.columns 
      .panel.panellist{style: "background-color: #FF005F"}
        %h4 <%= venue.name %> 
        %p <%= venue.hereNow.count %> <%= venue.hereNow.summry %> people are here
        %p <%= tips[0].text %>
        %p <%= tips[0].createdAt %>
        %p <%= tips[0].user.firstName %> <%= tips[0].user.lastName %>
        .button#foursquare-topics-bottons
          :plain
            <a href="<%= venue.url %>"> go to website </a>
        %p 
    .large-12.columns             
      #showfoursquare-toppics-template-third
  %script#attraction-foursquare-topPics-template-third{type: "text/template"} 
    .large-6.columns 
      .panel{style: "background-color: #FF005F"}
        %h4 <%= venue.name %>
        %p <%= venue.hereNow.count %> <%= venue.hereNow.summry %> people are here
        %p <%= tips[0].text %>
        %p <%= tips[0].user.firstName %> <%= tips[0].user.lastName %>
        .button#foursquare-topics-bottons
          :plain
            <a href="<%= venue.url %>"> go to website </a>
          
        %p 
    .large-3.columns
      .panel.panelpurple.imageanimate.animated{style: "background-color: #FF27F9"}
        %p
          :plain
              <img src="<%= venue['photos']['groups'][0]['items'][0].prefix %>400x400<%= venue['photos']['groups'][0]['items'][0].suffix %>" />
    .large-3.columns 
      .flip{style: "width: 300px; height: 200px;"}
        .flip-front.flip-front300-200.panelblue
          .panel.panellist{style: "background-color:#00ADF1"}
            %h4 Contact details
            %p Address: <%= venue.location.address %> , <%= venue.location.crossStreet %>        
            %P City: <%= venue.location.city %>
            %p PostelCode: <%= venue.location.postalCode %>
        .flip-back.flip-back300-200.panelblue
          .panel{style: "background-color:#00ADF1"}
            %h3 Book now!
            %p Website: <%= venue.url %>
            %li Mobile: <%= venue.contact.phone %>
            %li Twitter: <%= venue.contact.twitter %>
            %li Facebook: <%= venue.contact.facebook %>
           
       

  
  / script goes inside here 
    
      

      
  / %dd.accordion-navigation
  /   %a{href: "#panel2"} Accordion 2
  /   #panel2.content
  /     Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  / %dd.accordion-navigation
  /   %a{href: "#panel3"} Accordion 3
  /   #panel3.content
  /     Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.



  / %button.hostel-info-button{"data-hotelId" => "<%= hotelId %>".html_safe}
  // put this insdie an accordion!!! for each one. then paginate it 
  
      

           


%h2
  Hostel results within 
  = @hostel.distance
  miles of 
  = @hostel.address
%hr/  
.large-2.columns    
/ = link_to 'Edit', edit_hostel_path(@hostel)
/ \|
/ = link_to 'Back', hostels_path
.large-12.columns
  .large-6.columns
    #map-canvas{:style => "width: 100%; height: 350px; "}
    .flip 
      %h4 Tap an icon to get directions
      %p
        %b Tap that burger menu on the right for a guide
      #directions-panel-front
          
      

      

  .large-6.columns  
    .accordioncontainer{:style => "width: 100%; height: 740px"}
      #hostelResults  




/ = @hostel_attractions

%h2
  Hostels showing lowest rates within
  = @hostel.distance
  miles of 
  = @hostel.address 
%hr/  
.large-12.columns
  
  #hotelOfferResults
%br
%br
%br
%br





%h2
  Showing 
  = @hostel.attraction_type 
  in 
  = @hostel.address
%hr/ 
.large-8.columns 
     
.large-12.columns
  .large-8.columns
    .foursquareimagecontainer
      #showfoursquaredata
  .large-4.columns
    #map-attraction-canvas{:style => "width: 100%; height: 400px"}    
%br    
%hr/      


/ = @hostel_attractions  






/ .row{"data-equalizer" => ""}


#div{:style => "display:none"}
  %p
  = content_tag "p", id: "address", data: {hostels: @hostel.address} do
    %b Address:
    = @hostel.address
  = content_tag "p", id: "latitude", data: {hostels: @hostel.latitude} do 
    %b Latitude:
    = @hostel.latitude
  = content_tag "p", id: "longitude", data: {hostels: @hostel.longitude} do 
    %b Longitude:
    = @hostel.longitude
    %b arrivaldate: 
    = @hostel.arrivalDate
    %b departedate: 
    = @hostel.departureDate

    %b chosen hostel term 
  = content_tag "p", id: "hotel_attraction", data: {hostels: @hostel.attraction_type} do
    %b hostel term:
    = @hostel_attractions




/ = @foursquare_topPics
%h2 Our Recommended Attractions
%hr/
#showfoursquaretopPicdata





