%p#notice= notice

%p
  %b Address:
  = @hostel.address
%p
  %b Latitude:
  = @hostel.latitude
%p
  %b Longitude:
  = @hostel.longitude

= link_to 'Edit', edit_hostel_path(@hostel)
\|
= link_to 'Back', hostels_path

%h3 nearby saved hostels
- for location in @hostel.nearbys(10)
  %li = link_to hostel.address, hostel (hostel.distance.round(10) miles)