- content_for :templates do      
  %script#hostel-show-template{type: "text/template"}
    %dl.accordion{"data-accordion" => ""}
      %dd.accordion-navigation
        %a{href: "#panel1"} <%= name %>
        #panel1.content.active
          %dl.tabs{"data-tab" => ""}
            %dd.active
              %a{href: "#panel2-1"} Address
            %dd
              %a{href: "#panel2-2"} Rates
            %dd
              %a{href: "#panel2-3"} Tab 3
          
          .tabs-content
            #panel2-1.content.active
              %li Address: <%= address1 %>
              %li Postal Code: <%= postalCode %>
              %li Latitude: <%= latitude %>
            #panel2-2.content
              %li Low Rate: <%= lowRate %>
              %li High Rate: <%= highRate %>
              %li hotelRating: <%= hotelRating %>
            #panel2-3.content
              %p Third panel content goes here...
            #panel2-4.content
              %p Fourth panel content goes here...
  %script#hostel-show-cheapest-hotels{type: "text/template"}
    .row{"data-equalizer" => ""}
      .large-6.columns
        %ul.pricing-table{"data-equalizer-watch" => ""}
          %li test
          %li test 2 
          %li.cta-button
            %a.button{href: "#"} Buy Now
      .large-6.columns
        %ul.pricing-table{"data-equalizer-watch" => ""}
          
          %li.cta-button
            %a.button{href: "#"} Buy Now    
  
  / script goes inside here 
    
      

      
  / %dd.accordion-navigation
  /   %a{href: "#panel2"} Accordion 2
  /   #panel2.content
  /     Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  / %dd.accordion-navigation
  /   %a{href: "#panel3"} Accordion 3
  /   #panel3.content
  /     Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.



  %script#hostel-show-template{type: "text/template"}
    %ul  
      %li Name: <%= name %>
      
      %li Longitude: <%= longitude %>
      %li Latitude: <%= latitude %>
      %li
        %button.hostel-info-button{"data-hotelId" => "<%= hotelId %>".html_safe}
        // put this insdie an accordion!!! for each one. then paginate it 
  
      

           
.row
  .large-12.columns
    .large-4.columns
      #map-canvas{:style => "width: 543px; height: 300px"}
    .large-6.columns  
      .accordioncontainer
        #hostelResults  

  %br    
  %hr/


%p#notice= notice
%p
  %b Address:
  = @hostel.address
= content_tag "p", id: "latitude", data: {hostels: @hostel.latitude} do 
  %b Latitude:
  = @hostel.latitude
= content_tag "p", id: "longitude", data: {hostels: @hostel.longitude} do 
  %b Longitude:
  = @hostel.longitude
  %b arrivaldate: 
  = @hostel.arrivalDate
  %b departedate: 
  = @hostel.departureDate



= link_to 'Edit', edit_hostel_path(@hostel)
\|
= link_to 'Back', hostels_path

/ %h3 nearby saved hostels
/ - for hostel in @hostel.nearbys(10)
/   %li = link_to hostel.address, hostel (hostel.distance.round(10) miles)

%h3 hostels 
/ = @api  


/ %dl.accordion{"data-accordion" => ""}
/   %dd.accordion-navigation
/     %a{href: "#panel1"} Accordion 1
/     #panel1.content.active
/       %dl.tabs{"data-tab" => ""}
/         %dd.active
/           %a{href: "#panel2-1"} Tab 1
/         %dd
/           %a{href: "#panel2-2"} Tab 2
/         %dd
/           %a{href: "#panel2-3"} Tab 3
/         %dd
/           %a{href: "#panel2-4"} Tab 4
/       .tabs-content
/         #panel2-1.content.active
/           #hostelResults
/         #panel2-2.content
/           %p Second panel content goes here...
/         #panel2-3.content
/           %p Third panel content goes here...
/         #panel2-4.content
/           %p Fourth panel content goes here...
/   %dd.accordion-navigation
/     %a{href: "#panel2"} Accordion 2
/     #panel2.content
/       Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
/   %dd.accordion-navigation
/     %a{href: "#panel3"} Accordion 3
/     #panel3.content
/       Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.row{"data-equalizer" => ""}
  .large-6.columns
    %ul.pricing-table{"data-equalizer-watch" => ""}
      \...
      %li.cta-button
        %a.button{href: "#"} Buy Now
  .large-6.columns
    %ul.pricing-table{"data-equalizer-watch" => ""}
      \...
      %li.cta-button
        %a.button{href: "#"} Buy Now    


// cheapest three hotels using foundation eqlizier - include price - room avliblty and book now!!!
