- content_for :templates do
  %script#hostel-show-template{type: "text/template"}
    %ul
      %li Name: <%= name %>
      
      %li Longitude: <%= longitude %>
      %li Latitude: <%= latitude %>
      %li
        %button.hostel-info-button{"data-hotelId" => "<%= hotelId %>".html_safe}
  %script#hostel-show-detailed-template{type: "text/template"}
    %ul
      %li Low Rate: <%= lowRate %>
      %li High Rate: <%= highRate %>
      %li hotelRating: <%= hotelRating %>
      

           
.row
  .large-12.columns
    .large-4.columns
      #map-canvas{:style => "width: 100%; height: 300px"}
    .large-5.columns  
      #hostelResults
  %br    
  %hr/


%p#notice= notice
%p
  %b Address:
  = @hostel.address
= content_tag "p", id: "latitude", data: {hostels: @hostel.latitude} do 
  %b Latitude:
  = @hostel.latitude
= content_tag "p", id: "longitude", data: {hostels: @hostel.longitude} do 
  %b Longitude:
  = @hostel.longitude
  %b arrivaldate: 
  = @hostel.arrivalDate
  %b departedate: 
  = @hostel.departureDate



= link_to 'Edit', edit_hostel_path(@hostel)
\|
= link_to 'Back', hostels_path

%h3 nearby saved hostels
- for hostel in @hostel.nearbys(10)
  %li = link_to hostel.address, hostel (hostel.distance.round(10) miles)

%h3 hostels 
/ = @api  

#hostelResults.accordion

#hostelDetailedResults

%ul#accordion
  %li
    %a.heading{href: "#recent"} Recent Entries
    %ul#recent
      %li
        %span.date 01.19.2009
        %a{href: "#"} Recent Entry Title
      %li
        %span.date 01.15.2009
        %a{href: "#"} Recent Entry Title
      %li
        %span.date 01.13.2009
        %a{href: "#"} Recent Entry Title
      %li
        %span.date 01.11.2009
        %a{href: "#"} Recent Entry Title
      %li
        %span.date 01.10.2009
        %a{href: "#"} Recent Entry Title
  %li
    %a.heading{href: "#popular"} Popular Entries
    %ul#popular
      %li
        %span.date 08.16.2008
        %a{href: "#"} Popular Entry Title
      %li
        %span.date 06.12.2008
        %a{href: "#"} Popular Entry Title
      %li
        %span.date 04.12.2008
        %a{href: "#"} Popular Entry Title
      %li
        %span.date 06.12.2007
        %a{href: "#"} Popular Entry Title
      %li
        %span.date 03.12.2007
        %a{href: "#"} Popular Entry Title
  %li
    %a.heading{href: "#categories"} Categories
    %ul#categories
      %li
        %a{href: "#"} Category Name
        %span.count 7
      %li
        %a{href: "#"} Category Name
        %span.count 4
      %li
        %a{href: "#"} Category Name
        %span.count 15
      %li
        %a{href: "#"} Category Name
        %span.count 29
      %li
        %a{href: "#"} Category Name
        %span.count 8
  %li
    %a.heading{href: "#archive"} Archive
    %ul#archive
      %li
        %a{href: "#"} January 2009
        %span.count 4
      %li
        %a{href: "#"} December 2008
        %span.count 14
      %li
        %a{href: "#"} November 2008
        %span.count 12
      %li
        %a{href: "#"} October 2008
        %span.count 8
      %li
        %a{href: "#"} September 2008
        %span.count 18

