!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title BudgieBackpackers
    = yield :templates
    = include_gon(:init => true)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    
    
  %body
    / #container
    /   .user-nav
    /     - if user_signed_in?
    /       Logged in as
    /       %b= current_user.email
    /       = link_to 'Edit Profile', edit_user_registration_path
    /       \|
    /       = link_to 'Logout',  destroy_user_session_path, method: :delete
    /     - else
    /       = link_to 'Sign up', new_user_registration_path
    /       \|
    /       = link_to 'Login', new_user_session_path

    /   - flash.each do |name, msg|
    /     = content_tag :div, msg, :id => "flash_#{name}"
    #hi
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            
      %section.top-bar-section
        %ul.right
          - if user_signed_in?
            %li.has-dropdown
              = current_user.email
              %ul.dropdown
                %li
                  = link_to 'Logout', destroy_user_session_path, method: 'delete'
                %li
                  = link_to 'Edit Profile', edit_user_registration_path  
          - else
            %li
              = link_to 'Login', new_user_session_path
            %li 
              = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)  
            %li
              = link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)  
            %li.active.has-dropdown
              = link_to 'Sign Up', new_user_registration_path          
              %ul.dropdown
                %li
                  = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)   

        %ul.left 
          %li
            %img{src: "http://placehold.it/100x45&text=Logo"}/         
          %li
            = link_to 'Hostels', hostels_path
          %li 
            = link_to 'Attractions', attractions_path  

   

    / .off-canvas-wrap
    /   .inner-wrap
    /     / OFF CANVAS MENU BAR
    /     %nav.tab-bar.hide-for-large-up
    /       %section.left-small
    /         %a.left-off-canvas-toggle.menu-icon
    /           %span
    /       %section.right.tab-bar-section
    /         %h1.title Menu
    /     / END NAV.TAB-BAR HIDE-FOR-LARGE-UP
    /     / OFF CANVAS MENU
    /     %aside.left-off-canvas-menu
    /       %ul.off-canvas-list
    /         %li
    /           %label Navigation
    /         %li
    /           %a{href: "index.html"} Home
    /       %ul.off-canvas-list
    /         %li.has-dropdown
    /           %a{href: "blog.html"} Blog
    /           %ul.off-canvas-list
    /             %li
    /               %a{href: "blog.html"} Archive
    /             %li
    /               %a{href: "post.html"} Single
    /       %ul.off-canvas-list
    /         %li.has-dropdown
    /           %a{href: "page.html"} Page
    /           %ul.off-canvas-list
    /             %li
    /               %a{href: "page.html"} Full-width
    /             %li
    /               %a{href: "sidebar-left.html"} Left Sidebar
    /             %li
    /               %a{href: "sidebar-right.html"} Right Sidebar
    /       %ul.off-canvas-list
    /         %li
    /           %a{href: "portfolio.html"} Portfolio 
                   
    .row
      .container    
        -flash.each do |name, message|
          %div{class: "alert alert-info alert-dismissable"}
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &#215;
            = message  

      = yield

%script{src: "https://www.google.com/jsapi", type: "text/javascript"}
%script{src: "http://maps.googleapis.com/maps/api/js?libraries=places", type: "text/javascript"}   
%script google.load("earth", "1", {"other_params":"sensor=true_or_false"});   
= javascript_include_tag "application"   




   