- content_for :templates do 
  %script#attraction-show-template{type: "text/template"}
    %li Address: <%= rating %>
    %li Postal Code: <%= name %>
    %li Latitude: <%= latitude %>
    / %input                                                   id of yelp attaction
    / %button.attraction-info-button{"data-attractionId" => "<%= attractionId %>".html_safe}

.row
  .large-12.columns
    #map-canvas{:style => "width: 1000px; height: 400px"}
    %hr/
%p#notice= notice

%p
  %b Address:
  = @attraction.address
= content_tag "p", id: "latitude", data: {attractions: @attraction.latitude} do   
  %b Latitude:
  = @attraction.latitude
= content_tag "p", id: "longitude", data: {attractions: @attraction.longitude} do 
  %b Longitude:
  = @attraction.longitude

= link_to 'Edit', edit_attraction_path(@attraction)
\|
= link_to 'Back', attractions_path

%h3 nearby saved attractions
- for location in @attraction.nearbys(10)
  %li = link_to attraction.address, attraction (attraction.distance.round(10) miles)


.row
  .large-4.columns
    %h3 attraction views and ratings
    #attractionResults
  .large-4.columns
    %h3 deals!
    #attractionDeals     
#attractions
%h3 test 
= @attractions

