%p#notice= notice

%p
  %b Address:
  = @attraction.address
%p
  %b Latitude:
  = @attraction.latitude
%p
  %b Longitude:
  = @attraction.longitude

= link_to 'Edit', edit_attraction_path(@attraction)
\|
= link_to 'Back', attractions_path

%h3 nearby saved attractions
- for location in @attraction.nearbys(10)
  %li = link_to attraction.address, attraction (attraction.distance.round(10) miles)
