.row
  .large-12.columns
    #map-canvas{:style => "width: 400px; height: 300px"}
    %hr/
%p#notice= notice

%p
  %b Address:
  = @attraction.address
= content_tag "p", id: "latitude", data: {hostels: @attraction.latitude} do   
  %b Latitude:
  = @attraction.latitude
= content_tag "p", id: "longitude", data: {hostels: @attraction.longitude} do 
  %b Longitude:
  = @attraction.longitude

= link_to 'Edit', edit_attraction_path(@attraction)
\|
= link_to 'Back', attractions_path

%h3 nearby saved attractions
- for location in @attraction.nearbys(10)
  %li = link_to attraction.address, attraction (attraction.distance.round(10) miles)
